.container-addUser{
    padding: 0%;
    /* margin: 0%; */
    background-image: url('../images/reg4.webp');
    background-size: cover;
    background-repeat: no-repeat;

    /* width: 200%; */
    height: 150vh;
}
.form-group{
    color: black;
    /* background-color: beige; */
    /* background-size: contain; */
    /* width: 50px; */
}